
https://aprendeconalf.es/docencia/python/manual/tipos-datos-simples/

# ESTRUCTURAS BASICA PYTHON

TIPOS

In [1]:
print(type(1))
print(type(1.1))
print(type([1,2,3]))
print(type({"l":"Lunes","M":"Martes"}))

verdad = True
mentira = False

print(verdad)
print(mentira)

print(verdad or mentira)
print(verdad and mentira)

<class 'int'>
<class 'float'>
<class 'list'>
<class 'dict'>
True
False
True
False

###### Convertir tipos

In [2]:
#Convierto a INT
entero1 = int('20')
entero2 = True #1
entero3 = 300
print(entero1+entero2+entero3)

#Convierto a Float
float1 = float('50')
float2 = float(True) #1
float3 = 800.0
print(float1+float2+float3)

#Convierto a texto
cadena = str(entero3) + '***'+str(float3)+'***'+str(True)
print(cadena)

#Convierto a bool
if(bool('0')):
    print ('es verdad')
print(bool('0'))  # true!
print('cero numerico:')
print(bool(0)) #false

print(bool('3.14'))  #True
print(bool(''))      #False
print(bool('Hola'))  #True

321
851.0
300***800.0***True
es verdad
True
cero numerico:
False
True
False
True

### Variables types strings y varios

In [3]:
resto = 11 % 2
division = 11 / 2
autosuma = 100
autosuma += 50
print('Division : '+str(division)+'  Resto: %b ' + str(resto)+'   Autosuma:'+str(autosuma))

entero = 10
noentero = 2.5
otronoentero = 0.0

Division : 5.5  Resto: %b 1   Autosuma:150

In [4]:
texto = 'Puede ser comillas simples ' + "O pueden ser dobles"
largo = "Si el string es largo \
se puede serguir debajo con una contrabarra"

print(largo)
print("con salto \n de linea")
print("con un \t tabulador")

Si el string es largo se puede serguir debajo con una contrabarra
con salto
 de linea
con un 	 tabulador

###### substr sub strings substrings
c[i:j:k] : Devuelve la subcadena de c desde el carácter con el índice i hasta el carácter anterior al índice j, tomando caracteres cada k.

In [5]:
prueba = "Python"
print (' 0 primero '+prueba[0]) # devuelve y
print (' 1 segundo '+prueba[1]) # devuelve y
print ('-1 ultimo '+prueba[-1]) #devuelve  n
print('devuelve th por que es hasta el caracter ANTERIOR a 4 '+prueba[2:4])
prueba2 = '0123456789abcdefhijk'
print('Desde la posicion 5 hasta la 10, tomando de a 2  '+prueba2[5:10:2])

 0 primero P
 1 segundo y
-1 ultimo n
devuelve th por que es hasta el caracter ANTERIOR a 4 th
Desde la posicion 5 hasta la 10, tomando de a 2  579

In [6]:
texto1 = "Toyota"
texto2 = "Yaris"
print(texto1+texto2)
print(texto1*5)
print("yo" in texto1)
print("pepe" in texto1)
print("pepe" not in texto1)

ToyotaYaris
ToyotaToyotaToyotaToyotaToyota
True
False
True

#### Funciones en strings

+ len(c) : Devuelve el número de caracteres de la cadena c.
+ min(c) : Devuelve el carácter menor de la cadena c.
+ max(c) : Devuelve el carácter mayor de la cadena c.
+ c.upper() : Devuelve la cadena con los mismos caracteres que la cadena c pero en mayúsculas.
+ c.lower() : Devuelve la cadena con los mismos caracteres que la cadena c pero en minúsculas.
+ c.title() : Devuelve la cadena con los mismos caracteres que la cadena c con el primer carácter en mayúsculas y el resto en + minúsculas.
+ c.split(delimitador) : Devuelve la lista formada por las subcadenas que resultan de partir la cadena c usando como delimitador la cadena delimitador. Si no se especifica el delimitador utiliza por defecto el espacio en blanco.

In [7]:
texto1 = 'lenguAJE python'
print(' La cantidad de caracteres es : '+str( len(texto1) ))
print('upper:'+ texto1.upper()+'  y lower:'+texto1.lower() +' y title(capitalizado):'+texto1.title())
texto2 = 'Lunes Martes Miercoles Jueves * Viernes Sabado Domingo'
print(texto2)
print(texto2.split())
print(texto2.split('*'))

 La cantidad de caracteres es : 15
upper:LENGUAJE PYTHON  y lower:lenguaje python y title(capitalizado):Lenguaje Python
Lunes Martes Miercoles Jueves * Viernes Sabado Domingo
['Lunes', 'Martes', 'Miercoles', 'Jueves', '*', 'Viernes', 'Sabado', 'Domingo']
['Lunes Martes Miercoles Jueves ', ' Viernes Sabado Domingo']

#### Formatear Strings

In [8]:
print('Los dias {} son mejores que los dias {}'.format('Viernes','Lunes'))
#si entre las llaves se escribe algo, luego hay que usarlo en el .format
print('Los dias {diaMejor} son mejores que los dias {diaPeor}'.format(diaMejor='Viernes',diaPeor='Lunes'))
print('Un entero {entero}'.format(entero=10))
print('Un float {flotante}'.format(flotante=12.3))

Los dias Viernes son mejores que los dias Lunes
Los dias Viernes son mejores que los dias Lunes
Un entero 10
Un float 12.3

- {:n} : Alinea el valor a la izquierda rellenando con espacios por la derecha hasta los n caracteres.
- {:>n} : Alinea el valor a la derecha rellenando con espacios por la izquierda hasta los n caracteres.
- {:^n} : Alinea el valor en el centro rellenando con espacios por la izquierda y por la derecha hasta los n caracteres.
- {:nd} : Formatea el valor como un número entero con n caracteres rellenando con espacios blancos por la izquierda.
- {:n.mf} : Formatea el valor como un número real con un tamaño de n caracteres (incluído el separador de decimales) y m cifras decimales, rellenando con espacios blancos por la izquierda.

In [9]:
cantidad = 123
precio = 123+5/6
articulo =     'Automovil Toyota'
print('El precio de {art} es  {elPrecio}'.format(art=articulo, elPrecio=precio)) 
print('El precio de {art:20} es  {elPrecio}'.format(art=articulo, elPrecio=precio))
print('El precio de {art:>20} es  {elPrecio}'.format(art=articulo, elPrecio=precio))
print('El precio de {art} es  {elPrecio:2.4f}'.format(art=articulo, elPrecio=precio))
print('El precio de {art} es  {elPrecio:12.4f}'.format(art=articulo, elPrecio=precio))

print('El precio de {art} es  {elPrecio:1.2f}'.format(art=articulo, elPrecio=precio))
print('El precio de {} es  {:1.2f}'.format(articulo, precio))

print('cantidad {}'.format(cantidad) )
print('cantidad {:6d}'.format(cantidad) )

El precio de Automovil Toyota es  123.83333333333333
El precio de Automovil Toyota     es  123.83333333333333
El precio de     Automovil Toyota es  123.83333333333333
El precio de Automovil Toyota es  123.8333
El precio de Automovil Toyota es      123.8333
El precio de Automovil Toyota es  123.83
El precio de Automovil Toyota es  123.83
cantidad 123
cantidad    123

### usos del print

In [10]:
print("texto 1","texto 2", "texto",3)
print("texto 1","texto 2", "texto",3, sep='*')
print("texto 1","texto 2", "texto",3, end=' ')
print("otra linea")

import sys
print("File es la salida donde mando todo ", file= sys.stdout)

texto 1 texto 2 texto 3
texto 1*texto 2*texto*3
texto 1 texto 2 texto 3 otra linea
File es la salida donde mando todo

#### Uso de variables

+ Asignacion multiple
+ Intercambio de valores
+ Null
+ Incremento y Decremento

In [11]:
# Asignación múltiple
saludo1, saludo2 = 'hola' , 'buen dia'
print ('saludo1: '+saludo1)

# Intercambio de valores
saludo1, saludo2 = saludo2 , saludo1
print('saludo1: '+saludo1)

#null
noDefinido = None

#incremento y decremento
entero = 100
entero += 11
entero -=  1
print(entero)

saludo1: hola
saludo1: buen dia
110

### OPERADORES
#### Aritméticos

Operadores aritméticos: + (suma), - (resta), * (producto), / (cociente), // (cociente división entera), % (resto división entera), ** (potencia).

In [12]:
a = 10
b = 3

co=a/b
coe=a//b
print(co)
print(coe)

3.3333333333333335
3

#### Logicos

Operadores lógicos: == (igual que), > (mayor que), < (menor que), >= (mayor o igual que), <= (menor o igual que), != (distinto de).

### Pedir un valor (lo comento para que no moleste)

In [13]:
#nacimiento = input("Ingresa tu año de nacimiento: ")
#print(nacimiento)

# Estructuras de control

##  CONDICIONALES
### if ... elif ... else

In [14]:
edad = 40
sexo = 'hombre'
if(edad>50):
    print('mayor de 50')
else:
    if(edad<30):
        print('menor de 30')
    else:
        print('entre 30 y 50')


if(edad>50 and sexo=='hombre'):
    print('Hombre mayor de 50')
elif (edad<=50 and sexo=='hombre'):
    print('Hombre menor o igual de 50')
elif(edad>50 and sexo!='hombre'):
    print('Mujer mayor de 50')
else:
    print('Mujer menor o igual de 50')

entre 30 y 50
Hombre menor o igual de 50

# Bucles

### While

In [15]:
suma = 1
while suma <= 10 :
    print(suma,end=' ')
    suma+=1
    
print("\n Ejemplo con break:")
suma = 1
while suma <= 10 :
    print(suma,end=' ')
    suma+=1
    if(suma==5):
        break

1 2 3 4 5 6 7 8 9 10
 Ejemplo con break:
1 2 3 4

### FOR

*Se utiliza fundamentalmente para recorrer colecciones de objetos como cadenas, listas, tuplas o diccionarios.*

for i in secuencia:

range(fin) : Genera una secuencia de números enteros desde 0 hasta fin-1.

range(inicio, fin, salto) : Genera una secuencia de números enteros desde inicio hasta fin-1 con un incremento de salto.

In [16]:
for x in range(10):
    print(x,end=' ')
print('\nAhora de 100 a 200 saltando de a 30')
for x in range(100,200,30):
    print(x,end=' ')

0 1 2 3 4 5 6 7 8 9
Ahora de 100 a 200 saltando de a 30
100 130 160 190

In [17]:
for x in 'Python':
 print('*'+x,end=' ')

*P *y *t *h *o *n

### Declarar una funcion  Y llamarla

In [18]:
#Retorna varios resultados
def retornaCuadrado(a,b,c):
    a_cuadrado = a * a
    b_cuadrado = b * b
    c_cuadrado = c * c
    return a_cuadrado, b_cuadrado, c_cuadrado

#Retorna solo un resultado
def listoParaCorrer(animal, idioma="ingles"):
  if(animal=='LEON'):
    if(idioma=='ingles'):
       return 'true'
    else:
       return 'si'
  else:
    return 'no'

#Pruebas de distinto orden de parametros (llamados desordenados)
def imprimirMedidas (largo=1000, ancho=2000, profundo=3000):
   print("Ancho "+str(ancho)+"  Largo:"+str(largo)+" Profundo:"+str(profundo))

In [19]:
ca, cb, cc = retornaCuadrado ( 2, 6, 10)
print ('Resultado %i !'  %ca)

res = listoParaCorrer('LEON') #usa segundo parametro por defecto
print('Resultado de listo para correr: '+res)

res = listoParaCorrer('LEON','Español')
print('Resultado de listo para correr: '+res)

print('-----------------------------')
imprimirMedidas(10, 20, 30)
imprimirMedidas( ancho=2, profundo=3, largo=1)
imprimirMedidas(100, profundo=300, ancho=200)
imprimirMedidas()

Resultado 4 !
Resultado de listo para correr: true
Resultado de listo para correr: si
-----------------------------
Ancho 20  Largo:10 Profundo:30
Ancho 2  Largo:1 Profundo:3
Ancho 200  Largo:100 Profundo:300
Ancho 2000  Largo:1000 Profundo:3000

seguir abajo de toyota
Funciones de cadenas