# Pandas

Tipos de datos de Pandas.

Pandas dispone de tres estructuras de datos diferentes:

- Series: Estructura de una dimensión.
- DataFrame: Estructura de dos dimensiones (tablas).
- Panel: Estructura de tres dimensiones (cubos).

##  Series

La clase de objetos Series
Son estructuras similares a los arrays de una dimensión. Son homogéneas, es decir, sus elementos tienen que ser del mismo tipo, y su tamaño es inmutable, es decir, no se puede cambiar, aunque si su contenido.

Dispone de un índice que asocia un nombre a cada elemento del la serie, a través de la cuál se accede al elemento.

In [1]:
import pandas as pd

#### Creacion a partir de una lista

Series(data=lista, index=indices, dtype=tipo) : Devuelve un objeto de tipo Series con los datos de la lista lista, las filas especificados en la lista indices y el tipo de datos indicado en tipo. Si no se pasa la lista de índices se utilizan como índices los enteros del 0 al , done  es el tamaño de la serie. Si no se pasa el tipo de dato se infiere.

In [2]:
s1 = pd.Series(["Lengua","Historia","Matematica"], dtype='string')
s2 = pd.Series(["Lengua","Historia",1]) #el 1 lo toma como string
s3 = pd.Series([1,2,3])
print(s1)
print(s2)
print(s3)

0        Lengua
1      Historia
2    Matematica
dtype: string
0      Lengua
1    Historia
2           1
dtype: object
0    1
1    2
2    3
dtype: int64

#### Creacion a Partir de un Diccionario

Series(data=diccionario, index=indices): Devuelve un objeto de tipo Series con los valores del diccionario diccionario y las filas especificados en la lista indices. Si no se pasa la lista de índices se utilizan como índices las claves del diccionario.

In [3]:
s1 = pd.Series({"Lengua":7, "Matematica":8.5, "Historia":9.9})
print(s1)

Lengua        7.0
Matematica    8.5
Historia      9.9
dtype: float64

#### Atributos de una serie

Atributos de una serie
Existen varias propiedades o métodos para ver las características de una serie.

- s.size : Devuelve el número de elementos de la serie s.
- s.index : Devuelve una lista con los nombres de las filas del DataFrame s.
- s.dtype : Devuelve el tipo de datos de los elementos de la serie s.

In [4]:
s1 = pd.Series({"Lengua":7, "Matematica":8.5, "Historia":9.9})
print(s1.size, s1.index, s1.dtype)

3 Index(['Lengua', 'Matematica', 'Historia'], dtype='object') float64

#### Acceso a elementos de una serie

##### Acceso por posición
Se realiza de forma similar a como se accede a los elementos de un array.

- s[i] : Devuelve el elemento que ocupa la posición i+1 en la serie s.
- s[posiciones]: Devuelve otra serie con los elementos que ocupan las posiciones de la lista posiciones.

##### Acceso por índice
- s[nombre] : Devuelve el elemento con el nombre nombre en el índice.
- s[nombres] : Devuelve otra serie con los elementos correspondientes a los nombres indicadas en la lista nombres en el índice.

In [5]:
s1 = pd.Series({"Lengua":"Aprobado", "Matematica":"SUPERADO", "Historia":"Reprobado","Quimica":"DUDOSO"})
print(s1[0],s1[2]) #devuelve el valor d ecada posicion
print(s1[1:3]) #devuelve una seria con esos valores
print('Quimica ',s1["Quimica"])
print('*** Exactas:\n',s1[["Quimica","Matematica"]])

Aprobado Reprobado
Matematica     SUPERADO
Historia      Reprobado
dtype: object
Quimica  DUDOSO
*** Exactas:
 Quimica         DUDOSO
Matematica    SUPERADO
dtype: object

##### Resumen descriptivo de una serie

- s.count() : Devuelve el número de elementos que no son nulos ni NaN en la serie s.
- s.sum() : Devuelve la suma de los datos de la serie s cuando los datos son de un tipo numérico, o la concatenación de ellos cuando son del tipo cadena str.
- s.cumsum() : Devuelve una serie con la suma acumulada de los datos de la serie s cuando los datos son de un tipo numérico.
- s.value_counts() : Devuelve una serie con la frecuencia (número de repeticiones) de cada valor de la serie s.
- s.min() : Devuelve el menor de los datos de la serie s.
- s.max() : Devuelve el mayor de los datos de la serie s.
- s.mean() : Devuelve la media de los datos de la serie s cuando los datos son de un tipo numérico.
- s.var() : Devuelve la varianza de los datos de la serie s cuando los datos son de un tipo numérico.
- s.std() : Devuelve la desviación típica de los datos de la serie s cuando los datos son de un tipo numérico.
- s.describe(): Devuelve una serie con un resumen descriptivo que incluye el número de datos, su suma, el mínimo, el máximo, la media, la desviación típica y los cuartiles.

In [6]:
s = pd.Series([1,2,3,4,5,10,11,12,13,14,15,15,15])

print(s.count(), s.sum(), s.min(), s.max(), s.mean())

13 120 1 15 9.23076923076923

In [7]:
#Conteo de valores
s=pd.Series(["a","a","b","c"])
print( s.value_counts())
print('---')
print( s.value_counts(normalize=True))

a    2
c    1
b    1
dtype: int64
---
a    0.50
c    0.25
b    0.25
dtype: float64

In [8]:
#ESTO ES MAS EXACTO POR POSICION O POR VALOR
#YA QUE SI ES ENTERO EL INDICE, TOMA EL INDICE Y NO LA POSICION

s1 = pd.Series({1:"pepe",2:"juan",30:"Maria"})

print('Como arranque en cero, el 1 es ',s1.iloc[1]) # indice vectorial (arranca en cero)
print('Uso el indice del diccionario y el 1 es ',s1.loc[1])  # indice propio
print('Uso el indice del diccionario y el 30 es ',s1.loc[30])  # indice propio
print("------------s2----------------")
s2 = pd.Series({"Lengua":"Aprobado", "Matematica":"SUPERADO", "Historia":"Reprobado","Quimica":"DUDOSO"})
print('Como arranque en cero, el 1 es ',s2.iloc[1]) # indice vectorial (arranca en cero)
print('Uso el indice del diccionario y Historia  es ',s2.loc["Historia"])  # indice propio

Como arranque en cero, el 1 es  juan
Uso el indice del diccionario y el 1 es  pepe
Uso el indice del diccionario y el 30 es  Maria
------------s2----------------
Como arranque en cero, el 1 es  SUPERADO
Uso el indice del diccionario y Historia  es  Reprobado

##### Primeros, Ultimos y otros trucos

In [9]:
df =  pd.Series(['a','b','c','d','e','f','g','h','i','j'])
print("Ultimos 2 TAIL")
print( df.tail(2))
print("Primeros 2 HEAD")
print( df.head(2))
print('Del tercero al quinto sin incluir al quinto')
print( df.iloc[3:5])
print('Del primero dejando 8 antes del final')
print( df.iloc[ :-8])

Ultimos 2 TAIL
8    i
9    j
dtype: object
Primeros 2 HEAD
0    a
1    b
dtype: object
Del tercero al quinto sin incluir al quinto
3    d
4    e
dtype: object
Del primero dejando 8 antes del final
0    a
1    b
dtype: object

### Aplicar operaciones a una serie

Los operadores binarios (+, *, /, etc.) pueden utilizarse con una serie, y devuelven otra serie con el resultado de aplicar la operación a cada elemento de la serie.

In [10]:
s1 = pd.Series([1, 2, 3, 4])
s2 = s1 * 2
print(s2)

s1 = pd.Series({"Lengua":7, "Matematica":8.5, "Historia":9.9})
s2 = s1 - 1
print (s2)

0    2
1    4
2    6
3    8
dtype: int64
Lengua        6.0
Matematica    7.5
Historia      8.9
dtype: float64

### Aplicar una funcion a una Serie

In [11]:
def cuadrado(a):
   return a*a

s1 = pd.Series([10,4,5])
s2 = s1.apply(cuadrado)
print(s2)

0    100
1     16
2     25
dtype: int64

### Filtrar una Serie

In [12]:
s1 = pd.Series([20,30,40,50,60,70,100,200,300])
s2 = s1[s1>=100]
print(s2)

6    100
7    200
8    300
dtype: int64

In [13]:
s1 = pd.Series({"Lengua":4,"Ingles":10, "Matematica":8.5, "Historia":9.9, "Quimica":2})
s2 = s1[s1 >= 7]
print(s2)

Ingles        10.0
Matematica     8.5
Historia       9.9
dtype: float64

### Ordenar una serie
- s.sort_values(ascending=booleano) 
- df.sort_index(ascending=booleano)

In [14]:
s1 = pd.Series({"Lengua":4,"Ingles":10, "Matematica":8.5, "Historia":9.9, "Quimica":2})
s2 = s1.sort_values(ascending=False)
print(s2)
s2 = s1.sort_index()
print(s2)

Ingles        10.0
Historia       9.9
Matematica     8.5
Lengua         4.0
Quimica        2.0
dtype: float64
Historia       9.9
Ingles        10.0
Lengua         4.0
Matematica     8.5
Quimica        2.0
dtype: float64

##### Eliminar los dados desconocidos en una serie

Los datos desconocidos representan en Pandas por NaN y los nulos por None. Tanto unos como otros suelen ser un problema a la hora de realizar algunos análisis de datos, por lo que es habitual eliminarlos.

In [15]:
import numpy as np
s = pd.Series([ 1000 , None , 3000 , np.NaN ])
s = s.dropna()
print(s)

0    1000.0
2    3000.0
dtype: float64

## Dataframes

Un objeto del tipo DataFrame define un conjunto de datos estructurado en forma de tabla donde cada columna es un objeto de tipo Series, es decir, todos los datos de una misma columna son del mismo tipo, y las filas son registros que pueden contender datos de distintos tipos.

Un DataFrame contiene dos índices, uno para las filas y otro para las columnas, y se puede acceder a sus elementos mediante los nombres de las filas y las columnas.

### Miniresumen Dataframe

In [61]:
def mayusculas(a):
    return a.upper()

#CREAR UN DATAFRAME (en este caso desde una lista de listas)
#Los nombres de columnas y el indice en este caso son implicitos, sino irian en pd.DataFrame(...)
datos = { "Paciente":[10,11,12,13,14,15,16],
          "Nombre"  :["Juan","Pedro","Pablo","Maria","Lola","Martin","Jose"]
         ,"Cantidad":[0,111,222,333,444,555,666]
        ,  "Nac":["18/11/1972","05/10/2009","10/02/2006","29/06/1974","08/05/1970","25/12/1990","25/12/1990" ] }

df = pd.DataFrame(data=datos)

#Convierto strings a Fecha
df["Nac"] = pd.to_datetime(df.Nac, format = '%d/%m/%Y')

#Agrego columnas
df["FechaAlta"]=["Lunes","Martes","Martes","Lunes","Martes","Martes","Lunes"]
df=df.assign(Saldo=1000) #un valor fijo para toda la columna
#Calculo en base a otras columnas
df=df.assign(doble=df.Saldo*2) #un calculo en base a otras columnas
#Una lista de valores y la columna en una posicion en particular
df.insert(loc=2,  column= "Apellido",value=["Rodriguez","Perez","Gonzalez","Cucluflo","jjj","hh","ii"] , allow_duplicates=False)
 

#Aplico funcion a columna
df["Nombre"] = df["Nombre"].apply(mayusculas)

print(df)

   Paciente  Nombre   Apellido  Cantidad        Nac FechaAlta  Saldo  doble
0        10    JUAN  Rodriguez         0 1972-11-18     Lunes   1000   2000
1        11   PEDRO      Perez       111 2009-10-05    Martes   1000   2000
2        12   PABLO   Gonzalez       222 2006-02-10    Martes   1000   2000
3        13   MARIA   Cucluflo       333 1974-06-29     Lunes   1000   2000
4        14    LOLA        jjj       444 1970-05-08    Martes   1000   2000
5        15  MARTIN         hh       555 1990-12-25    Martes   1000   2000
6        16    JOSE         ii       666 1990-12-25     Lunes   1000   2000

### Acceder a un dataframe

#### Accesos mediante posiciones
- df.iloc[i, j] : Devuelve el elemento que se encuentra en la fila i y la columna j del DataFrame df. Pueden indicarse secuencias de índices para obtener partes del DataFrame.

- df.iloc[filas, columnas] : Devuelve un DataFrame con los elementos de las filas de la lista filas y de las columnas de la lista columnas.

- df.iloc[i] : Devuelve una serie con los elementos de la fila i del DataFrame df.

In [17]:
datos = { "Paciente":[10,11,12,13],"Nombre":["Juan","Pedro","Pablo","Maria"],"Cantidad":[111,222,333,444] }
df = pd.DataFrame(data=datos, index=['a','b','c','d'], columns=["Paciente","Nombre","Cantidad"])

print(df)
print("df.iloc[2][1] fila y columna arrancando en cero ", df.iloc[2][1] )
print("df.iloc[2] toda la fila 2 arrancando en cero ", df.iloc[2] )


#print(df.iloc([0,1,2],["Nombre","Cantidad"]))
#print("Con Indice de fila D y columna" ,df.loc["d"]['Nombre'] )

   Paciente Nombre  Cantidad
a        10   Juan       111
b        11  Pedro       222
c        12  Pablo       333
d        13  Maria       444
df.iloc[2][1] fila y columna arrancando en cero  Pablo
df.iloc[2] toda la fila 2 arrancando en cero  Paciente       12
Nombre      Pablo
Cantidad      333
Name: c, dtype: object

#### Acceso a los elementos mediante nombres

- df.loc[fila, columna] : Devuelve el elemento que se encuentra en la fila con nombre fila y la columna de con nombre columna del DataFrame df.
- df.loc[filas, columnas] : Devuelve un DataFrame con los elemento que se encuentra en las filas con los nombres de la lista filas y las columnas con los nombres de la lista columnas del DataFrame df.

- df[columna] : Devuelve una serie con los elementos de la columna de nombre columna del DataFrame df.

- df.columna : Devuelve una serie con los elementos de la columna de nombre columna del DataFrame df. Es similar al método anterior pero solo funciona cuando el nombre de la columna no tiene espacios en blanco.

In [18]:
datos = { "Paciente":[10,11,12,13],"Nombre":["Juan","Pedro","Pablo","Maria"],"Cantidad":[111,222,333,444] }
df = pd.DataFrame(data=datos, index=['a','b','c','d'], columns=["Paciente","Nombre","Cantidad"])

print(df)
print("df.loc[c][Nombre]", df.loc["c"]["Nombre"] )
print("df.loc[c]  ", df.loc["c"] )
print("  Toda una columna ")
print(df["Nombre"])
print("  Toda otra columna ")
print(df.Cantidad)

   Paciente Nombre  Cantidad
a        10   Juan       111
b        11  Pedro       222
c        12  Pablo       333
d        13  Maria       444
df.loc[c][Nombre] Pablo
df.loc[c]   Paciente       12
Nombre      Pablo
Cantidad      333
Name: c, dtype: object
  Toda una columna
a     Juan
b    Pedro
c    Pablo
d    Maria
Name: Nombre, dtype: object
  Toda otra columna
a    111
b    222
c    333
d    444
Name: Cantidad, dtype: int64

#### Acceso con  Rangos de registros por indice

In [19]:
datos = { "Paciente":[10,11,12,13,14,15,16],"Nombre":["Juan","Pedro","Pablo","Maria","Lola","Martin","Jose"]
         ,"Cantidad":[0,111,222,333,444,555,666] }
df = pd.DataFrame(data=datos,  columns=["Paciente","Nombre","Cantidad"])

#Cuando el indice es numerico (ver que arriba no lo agregue como en los ejemplos anteriores que si estaba en modo string)
#entonces se puede pedir un rango.
# :3 es desde cero a 3 / 2:3 es de 2 a 3 / etc

print( df.loc[3:5, ('Nombre','Paciente')] )
print( df.loc[:2, ('Nombre')] )

   Nombre  Paciente
3   Maria        13
4    Lola        14
5  Martin        15
0     Juan
1    Pedro
2    Pablo
Name: Nombre, dtype: object

### Creación de un DataFrame 

#### A partir de una lista de listas

DataFrame(data=diccionario, index=filas, columns=columnas, dtype=tipos) : Devuelve un objeto del tipo DataFrame cuyas columnas son las listas contenidas en los valores del diccionario diccionario, los nombres de filas indicados en la lista filas, los nombres de columnas indicados en la lista columnas y los tipos indicados en la lista tipos. La lista filas tiene que tener el mismo tamaño que las listas del diccionario, mientras que las listas columnas y tipos tienen que tener el mismo tamaño que el diccionario. Si no se pasa la lista de filas se utilizan como nombres los enteros empezando en 0. Si no se pasa la lista de columnas se utilizan como nombres las claves del diccionario. Si no se pasa la lista de tipos, se infiere.

In [20]:
datos = { "Paciente":[10,11,12,13,14,15],"Nombre":["Juan","Pedro","Pablo","Maria","Lola","Martin"],"Cantidad":[111,222,333,444,555,666] }
df = pd.DataFrame(data=datos, index=['a','b','c','d','e','f'], columns=["Paciente","Nombre","Cantidad"])
print(df)
df2 = pd.DataFrame(data=datos, index=['a','b','c','d','e','f'])
print(df2)
df3= pd.DataFrame(data=datos )
print(df3)

   Paciente  Nombre  Cantidad
a        10    Juan       111
b        11   Pedro       222
c        12   Pablo       333
d        13   Maria       444
e        14    Lola       555
f        15  Martin       666
   Paciente  Nombre  Cantidad
a        10    Juan       111
b        11   Pedro       222
c        12   Pablo       333
d        13   Maria       444
e        14    Lola       555
f        15  Martin       666
   Paciente  Nombre  Cantidad
0        10    Juan       111
1        11   Pedro       222
2        12   Pablo       333
3        13   Maria       444
4        14    Lola       555
5        15  Martin       666

##### Creación de un DataFrame a partir de una lista de diccionarios

DataFrame(data=listas, index=filas, columns=columnas, dtype=tipos)


Si las listas anidadas en listas no tienen el mismo tamaño, las listas menores se rellenan con valores NaN.

In [21]:
lista = [    ["Juan,","Arquitecto"] , ["Pedro", "Abogado"],["Maria" ,"Medica"] ,["Pepe"] ]
print(lista)
df = pd.DataFrame(data=lista, columns=["Nombre","Profesion"])
print(df)

[['Juan,', 'Arquitecto'], ['Pedro', 'Abogado'], ['Maria', 'Medica'], ['Pepe']]
  Nombre   Profesion
0  Juan,  Arquitecto
1  Pedro     Abogado
2  Maria      Medica
3   Pepe        None

#### Creación de un DataFrame a partir de una lista de diccionarios

DataFrame(data=diccionarios, index=filas, columns=columnas, dtype=tipos)

In [22]:
datos = [{"Nombre":"Pepe","Profesion":"Abogado"},{"Nombre":"Jose","Profesion":"Carpintero"}
         ,{"Nombre":"Carmen" }]
df = pd.DataFrame(data=datos, columns=["Nombre","Profesion"])
df2 = pd.DataFrame(data=datos )
print(df)
print(df2)

   Nombre   Profesion
0    Pepe     Abogado
1    Jose  Carpintero
2  Carmen         NaN
   Nombre   Profesion
0    Pepe     Abogado
1    Jose  Carpintero
2  Carmen         NaN

##### Creación de un DataFrame a partir de un array

DataFrame(data=array, index=filas, columns=columnas, dtype=tipo)

In [23]:
df = pd.DataFrame(np.random.randn(4, 3), columns=['Lunes', 'Martes', 'Miercoles'])
print(df)

a1 = [1,2,3,4,5]
df1 = pd.DataFrame(data=a1)
print(df1)

a2 = [ [10,"a" ],[20,"b"  ],[30,"c"  ]  ]
df2 = pd.DataFrame(data=a2, columns=["Numeros","Letras"])
print(df2)

      Lunes    Martes  Miercoles
0  0.775588  0.733230   1.312106
1 -2.558341 -0.967895   0.147959
2  1.220246 -1.578501  -0.361631
3  0.995309 -0.012553   0.734795
   0
0  1
1  2
2  3
3  4
4  5
   Numeros Letras
0       10      a
1       20      b
2       30      c

### Añadir columnas a un DataFrame

El procedimiento para añadir una nueva columna a un DataFrame es similar al de añadir un nuevo par a un diccionario, pero pasando los valores de la columna en una lista o serie.

- d[nombre] = lista: Añade al DataFrame df una nueva columna con el nombre nombre y los valores de la lista lista. La lista debe tener el mismo tamaño que el número de filas de df.

- d[nombre] = serie: Añade al DataFrame df una nueva columna con el nombre nombre y los valores de la serie serie. Si el tamaño de la serie es menor que el número de filas de df se rellena con valores NaN mientras que si es mayor se recorta.

- d.insert(loc, column, value, allow_duplicates=False)
- d.assign() para agregar una nueva columna en Pandas DataFrame: new_df=df.assign(Profit=6)

In [24]:
datos = { "Paciente":[10,11,12,13],"Nombre":["Juan","Pedro","Pablo","Maria"],"Cantidad":[111,222,333,444] }
df = pd.DataFrame(data=datos, index=['a','b','c','d'], columns=["Paciente","Nombre","Cantidad"])

df["FechaAlta"]=["Lunes","Martes","Martes","Lunes"]
df=df.assign(Profit=6) #un valor fijo para toda la columna
df=df.assign(Saldo=[1,2,3,4.4]) #valores sueltos
df=df.assign(cuenta=df.Saldo+df.Profit) #un calculo en base a otras columnas
#Una lista de valores y la columna en una posicion en particular
df.insert(loc=2,  column= "Apellido",value=["Rodriguez","Perez","Gonzalez","Cucluflo"] , allow_duplicates=False)
 
print(df)

   Paciente Nombre   Apellido  Cantidad FechaAlta  Profit  Saldo  cuenta
a        10   Juan  Rodriguez       111     Lunes       6    1.0     7.0
b        11  Pedro      Perez       222    Martes       6    2.0     8.0
c        12  Pablo   Gonzalez       333    Martes       6    3.0     9.0
d        13  Maria   Cucluflo       444     Lunes       6    4.4    10.4

### Creación de un DataFrame a partir de un fichero CSV o Excel

read_csv(fichero.csv, sep=separador, header=n, index_col=m, na_values=no-validos, decimal=separador-decimal) : Devuelve un objeto del tipo DataFrame con los datos del fichero CSV fichero.csv usando como separador de los datos la cadena separador. Como nombres de columnas se utiliza los valores de la fila n y como nombres de filas los valores de la columna m. Si no se indica m se utilizan como nombres de filas los enteros empezando en 0. Los valores incluídos en la lista no-validos se convierten en NaN. Para los datos numéricos se utiliza como separador de decimales el carácter indicado en separador-decimal.

read_excel(fichero.xlsx, sheet_name=hoja, header=n, index_col=m, na_values=no-validos, decimal=separador-decimal) : Devuelve un objeto del tipo DataFrame con los datos de la hoja de cálculo hoja del fichero Excel fichero.xlsx. Como nombres de columnas se utiliza los valores de la fila n y como nombres de filas los valores de la columna m. Si no se indica m se utilizan como nombres de filas los enteros empezando en 0. Los valores incluídos en la lista no-validos se convierten en NaN. Para los datos numéricos se utiliza como separador de decimales el carácter indicado en separador-decimal.

In [25]:
df = pd.read_csv('ParaEjercicioPandasCVS.csv',sep=";",header=0,decimal=',')
print(df)


paciente=df.iloc[0]['Paciente']
precio = df.iloc[0]['Precio']
preciosinformato = df.iloc[0]['preciosinformato']
print('paciente',paciente,'precio',precio,type(precio),'preciosinformato',type(preciosinformato))

   Paciente  Nombre    Precio es socio  preciosinformato
0        10    Pepe   $ 99,90       si              99.9
1        20    Juan  $ 200,00       si             200.0
2        30   Pablo  $ 300,00       si             300.0
3        40    Jose  $ 400,00       no             400.0
4        50   Maria  $ 500,00       no             500.0
5        60  Carmen  $ 600,00       no             600.0
paciente 10 precio $ 99,90 <class 'str'> preciosinformato <class 'numpy.float64'>

In [26]:
df = pd.read_excel("ParaEjercicioPandas.xlsx", sheet_name='Pacientes')
print(df)
precio = df.iloc[0]['Precio']
print("tipo de precio:",type(precio))

   Paciente  Nombre  Precio es socio
0        10    Pepe    99.9       si
1        20    Juan   200.0       si
2        30   Pablo   300.0       si
3        40    Jose   400.0       no
4        50   Maria   500.0       no
5        60  Carmen   600.0       no
tipo de precio: <class 'numpy.float64'>

### EXPORTAR A CVS O EXCEL

df.to_csv(fichero.csv, sep=separador, columns=booleano, index=booleano) : Exporta el DataFrame df al fichero fichero.csv en formato CSV usando como separador de los datos la cadena separador. Si se pasa True al parámetro columns se exporta también la fila con los nombres de columnas y si se pasa True al parámetro index se exporta también la columna con los nombres de las filas.

df.to_excel(fichero.xlsx, sheet_name = hoja, columns=booleano, index=booleano) : Exporta el DataFrame df a la hoja de cálculo hoja del fichero fichero.xlsx en formato Excel. Si se pasa True al parámetro columns se exporta también la fila con los nombres de columnas y si se pasa True al parámetro index se exporta también la columna con los nombres de las filas.

In [27]:
datos = { "Paciente":[10,11,12,13,14,15],"Nombre":["Juana","Pedro","Pablo","Maria","Lola","Martin"],
         "Cantidad":[111,222,333,444,555,666] }
df = pd.DataFrame(data=datos, index=['a','b','c','d','e','f'], columns=["Paciente","Nombre","Cantidad"])

df.to_csv("exportado_csv.csv",sep=';'  )
df.to_excel("exportado_excel.xlsx",sheet_name='dias' )

### ATRIBUTOS DE UN DATAFRAME

- df.info() : Devuelve información (número de filas, número de columnas, índices, tipo de las columnas y memoria usado) sobre el DataFrame df.
- df.shape : Devuelve una tupla con el número de filas y columnas del DataFrame df.
- df.size : Devuelve el número de elementos del DataFrame.
- df.columns : Devuelve una lista con los nombres de las columnas del DataFrame df.
- df.index : Devuelve una lista con los nombres de las filas del DataFrame df.
- df.dtypes : Devuelve una serie con los tipos de datos de las columnas del DataFrame df.
- df.head(n) : Devuelve las n primeras filas del DataFrame df.
- df.tail(n) : Devuelve las n últimas filas del DataFrame df.

In [28]:
datos = { "Paciente":[10,11,12,13,14,15],"Nombre":["Juana","Pedro","Pablo","Maria","Lola","Martin"],
         "Cantidad":[111,222,333,444,555,666] }
df = pd.DataFrame(data=datos, index=['a','b','c','d','e','f'], columns=["Paciente","Nombre","Cantidad"])

print(df)
print("shape",df.shape, "index",df.index )
print("columnas",df.columns)
print("tipos",df.dtypes)

   Paciente  Nombre  Cantidad
a        10   Juana       111
b        11   Pedro       222
c        12   Pablo       333
d        13   Maria       444
e        14    Lola       555
f        15  Martin       666
shape (6, 3) index Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')
columnas Index(['Paciente', 'Nombre', 'Cantidad'], dtype='object')
tipos Paciente     int64
Nombre      object
Cantidad     int64
dtype: object

### Renombrar Filas y Columnas

In [29]:
datos = { "Paciente":[10,11,12,13,14,15],"Nombre":["Juana","Pedro","Pablo","Maria","Lola","Martin"],
         "Cantidad":[111,222,333,444,555,666] }
df = pd.DataFrame(data=datos, index=['a','b','c','d','e','f'], columns=["Paciente","Nombre","Cantidad"])

df=df.rename(columns={"Nombre":"Name","Cantidad":"Quantity"}, index={"a":"a1","b":"b2"})
print(df)

    Paciente    Name  Quantity
a1        10   Juana       111
b2        11   Pedro       222
c         12   Pablo       333
d         13   Maria       444
e         14    Lola       555
f         15  Martin       666

### Cambiar el Indice

df.set_index(keys = columnas, verify_integrity = bool): Devuelve el DataFrame que resulta de eliminar las columnas de la lista columnas y convertirlas en el nuevo índice. El parámetro verify_integrity recibe un booleano (False por defecto) y realiza una comprobación para evitar duplicados en la clave cuando recibe True.

In [30]:
datos = { "Paciente":[10,11,12,13,14,15],"Nombre":["Juana","Pedro","Pablo","Maria","Lola","Martin"],
         "Cantidad":[111,222,333,444,555,666] }
df = pd.DataFrame(data=datos, index=['a','b','c','d','e','f'], columns=["Paciente","Nombre","Cantidad"])
print(df)

print("-----------despues:")

df=df.set_index(keys="Nombre") 
print(df)

   Paciente  Nombre  Cantidad
a        10   Juana       111
b        11   Pedro       222
c        12   Pablo       333
d        13   Maria       444
e        14    Lola       555
f        15  Martin       666
-----------despues:
        Paciente  Cantidad
Nombre
Juana         10       111
Pedro         11       222
Pablo         12       333
Maria         13       444
Lola          14       555
Martin        15       666

In [31]:
#CREAR UN MULTIINDEX MULTI INDICE DE VARIAS COLUMNAS
#
datos = { "Paciente":[10,11,12,13,14,15],"Nombre":["Juana","Pedro","Pablo","Maria","Lola","Martin"],
         "Cantidad":[111,222,333,444,555,666] }
df = pd.DataFrame(data=datos, index=['a','b','c','d','e','f'], columns=["Paciente","Nombre","Cantidad"])
print(df)

print("-----------despues:")

df=df.set_index(keys=['Paciente', 'Nombre']) 
print(df)

   Paciente  Nombre  Cantidad
a        10   Juana       111
b        11   Pedro       222
c        12   Pablo       333
d        13   Maria       444
e        14    Lola       555
f        15  Martin       666
-----------despues:
                 Cantidad
Paciente Nombre
10       Juana        111
11       Pedro        222
12       Pablo        333
13       Maria        444
14       Lola         555
15       Martin       666

### Reindex reindexar un DataFrame

Para reordenar los índices de las filas y las columnas de un DataFrame, así como añadir o eliminar índices, se utiliza el siguiente método:

df.reindex(index=filas, columns=columnas, fill_value=relleno)

In [32]:
#CREAR UN MULTIINDEX MULTI INDICE DE VARIAS COLUMNAS
#
datos = { "Paciente":[10,11,12,13,14,15],"Nombre":["Juana","Pedro","Pablo","Maria","Lola","Martin"],
         "Cantidad":[111,222,333,444,555,666] }
df = pd.DataFrame(data=datos, index=['a','b','c','d','e','f'], columns=["Paciente","Nombre","Cantidad"])
print(df)

print("Elegir que columnas quedan y en que orden y las que sobran las vuela y las que faltan las agrega")
df1=df.reindex( columns=["Nombre","Paciente","Fecha"] )
print(df1)

print("Idem con filas")
df2=df.reindex(index=["e","f","g","h"], columns=["Nombre","Paciente","Cantidad","Fecha"], fill_value='XXX')
print(df2)

   Paciente  Nombre  Cantidad
a        10   Juana       111
b        11   Pedro       222
c        12   Pablo       333
d        13   Maria       444
e        14    Lola       555
f        15  Martin       666
Elegir que columnas quedan y en que orden y las que sobran las vuela y las que faltan las agrega
   Nombre  Paciente  Fecha
a   Juana        10    NaN
b   Pedro        11    NaN
c   Pablo        12    NaN
d   Maria        13    NaN
e    Lola        14    NaN
f  Martin        15    NaN
Idem con filas
   Nombre Paciente Cantidad Fecha
e    Lola       14      555   XXX
f  Martin       15      666   XXX
g     XXX      XXX      XXX   XXX
h     XXX      XXX      XXX   XXX

### Aplicar funciones a columnas de un DataFrame
Para aplicar funciones a todos los elementos de una columna se utiliza el siguiente método:

df[columna].apply(f) : Devuelve una serie con los valores que resulta de aplicar la función f a los elementos de la columna con nombre columna del DataFrame df.

In [39]:
def sumar10000(a):
    return a+10000

#
datos = { "Paciente":[10,11,12,13,14,15],"Nombre":["Juana","Pedro","Pablo","Maria","Lola","Martin"],
         "Cantidad":[111,222,333,444,555,666] }
df = pd.DataFrame(data=datos )

df["Cantidad"] = df["Cantidad"].apply(sumar10000)
print(df)

   Paciente  Nombre  Cantidad
0        10   Juana     10111
1        11   Pedro     10222
2        12   Pablo     10333
3        13   Maria     10444
4        14    Lola     10555
5        15  Martin     10666

### Convertir una columna al tipo datetime
A menudo una columna contiene cadenas que representan fechas. Para convertir estas cadenas al tipo datetime se utiliza el siguiente método:

to_datetime(columna, formato): Devuelve la serie que resulta de convertir las cadenas de la columna con el nombre columna en fechas del tipo datetime con el formado especificado en formato. ( Ver librería datetime)

In [58]:
from datetime import date
datos = { "Paciente":[10,11,12,13,14,15],"Nombre":["Juana","Pedro","Pablo","Maria","Lola","Martin"],
         "Nacimiento":["18/11/1972","05/10/2009","10/02/2006","29/06/1974","08/05/1970","25/12/1990"] }
df = pd.DataFrame(data=datos )
df["Nacimiento"] = pd.to_datetime(df.Nacimiento, format = '%d/%m/%Y')
df["hoy"]=date.today()

print(df)

   Paciente  Nombre Nacimiento         hoy
0        10   Juana 1972-11-18  2022-07-16
1        11   Pedro 2009-10-05  2022-07-16
2        12   Pablo 2006-02-10  2022-07-16
3        13   Maria 1974-06-29  2022-07-16
4        14    Lola 1970-05-08  2022-07-16
5        15  Martin 1990-12-25  2022-07-16

### Resumen descriptivo de un DataFrame
Al igual que para las series, los siguientes métodos permiten resumir la información de un DataFrame por columnas:

- df.count() : Devuelve una serie con el número de elementos que no son nulos ni NaN en cada columna del DataFrame df.
- df.sum() : Devuelve una serie con la suma de los datos de las columnas del DataFrame df cuando los datos son de un tipo numérico, o la concatenación de ellos cuando son del tipo cadena str.
- df.cumsum() : Devuelve un DataFrame con la suma acumulada de los datos de las columnas del DataFrame df cuando los datos son de un tipo numérico.
- df.min() : Devuelve una serie con los menores de los datos de las columnas del DataFrame df.
- df.max() : Devuelve una serie con los mayores de los datos de las columnas del DataFrame df.
- df.mean() : Devuelve una serie con las medias de los datos de las columnas numéricas del DataFrame df.
- df.var() : Devuelve una serie con las varianzas de los datos de las columnas numéricas del DataFrame df.
- df.std() : Devuelve una serie con las desviaciones típicas de los datos de las columnas numéricas del DataFrame df.
- df.cov() : Devuelve un DataFrame con las covarianzas de los datos de las columnas numéricas del DataFrame df.
- df.corr() : Devuelve un DataFrame con los coeficientes de correlación de Pearson de los datos de las columnas numéricas del DataFrame df.
- df.describe(include = tipo) : Devuelve un DataFrame con un resumen estadístico de las columnas del DataFrame df del tipo tipo. Para los datos numéricos (number) se calcula la media, la desviación típica, el mínimo, el máximo y los cuartiles. Para los datos no numéricos (object) se calcula el número de valores, el número de valores distintos, la moda y su frecuencia. Si no se indica el tipo solo se consideran las columnas numéricas.

In [68]:
datos = { "Paciente":[10,11,12,13,14,15],"Nombre":["Juana","Pedro","Pablo","Maria","Lola","Martin"],
         "Importe":[100,200,11,222,45,66] }
df=pd.DataFrame(data=datos)

print(df.Importe.sum())
print(df.count())
print(df.Paciente.count())
print(df.describe())

644
Paciente    6
Nombre      6
Importe     6
dtype: int64
6
        Paciente     Importe
count   6.000000    6.000000
mean   12.500000  107.333333
std     1.870829   85.630991
min    10.000000   11.000000
25%    11.250000   50.250000
50%    12.500000   83.000000
75%    13.750000  175.000000
max    15.000000  222.000000