# Funciones Lambda

In [68]:
concateno = lambda x,y: x+y
print(concateno('a','b'))

formulita = lambda a,b,c:  (a*b)/c
print(formulita(10,30,150))

tieneEdad = lambda x : True if x == 11 or x == 15 else False
print(tieneEdad(16))

ab
2.0
False

# Aplico Lambda a una columna de un Data Frame

In [69]:
import pandas as pd
import numpy as np

#Creo un DataFrame con dos columnas, Celsius y Kelvin, ambas con datos iguales
data = {'Celsius':[22, 36, 20, 26, 30, 38],
        'Kelvin':[22, 36, 20, 26, 30, 38]}
print(type(data))

df = pd.DataFrame(data, index = ['Londres','Madrid','Barcelona','Sevilla','Cádiz','Lima'])


to_kelvin = lambda x: (x + 273,15)
df['Kelvin'] = df['Celsius'].apply(to_kelvin)

df

<class 'dict'>

           Celsius     Kelvin
Londres         22  (295, 15)
Madrid          36  (309, 15)
Barcelona       20  (293, 15)
Sevilla         26  (299, 15)
Cádiz           30  (303, 15)
Lima            38  (311, 15)

# Ciudad es un indice, recorro con esa clave

In [37]:
data_2 = {'Celsius':[22, 36, 20, 26, 30, 38],
        'Kelvin':[11, 22, 33, 44, 55, 66]}
df_2 = pd.DataFrame(data_2, index = ['Londres','Madrid','Barcelona','Sevilla','Cádiz','Lima'])

print(df_2['Celsius'][0])
print(df_2['Celsius']['Sevilla'])
print('***********')
print(df_2.iloc[1])

22
26
***********
Celsius    36
Kelvin     22
Name: Madrid, dtype: int64

#  Ciudad es un dato mas, recorro por índice

In [40]:
data_3 =  {'Ciudad':['Londres','Madrid','Barcelona','Sevilla','Cádiz','Lima'],
                'Celsius':[22, 36, 20, 26, 30, 38],
             'Kelvin':[11, 22, 33, 44, 55, 66]}
df_3 = pd.DataFrame(data_3)

print(df_3['Celsius'][0])
print(df_3['Celsius'][3])
print('***********')
print(df_3.iloc[1])
#df.iloc[0:5] # Primeras cinco filas

22
26
***********
Ciudad     Madrid
Celsius        36
Kelvin         22
Name: 1, dtype: object

# Recorro dataframes

In [63]:
data_4 =  {'Ciudad':['Londres','Madrid','Barcelona','Sevilla','Cádiz','Lima'],
                'Celsius':[22, 36, 20, 26, 30, 38],
             'Kelvin':[11, 22, 33, 44, 55, 66]}
df_4 = pd.DataFrame(data_4)

print("Primer experimento")
for i in df_4.index: 
    print('   '+df_4['Ciudad'][i]+' '+ str(df_4['Celsius'][i]))

print("Segundo experimento")
for i in df_4.index: 
    unaFila=df_4.iloc[i]
    print(' '+unaFila['Ciudad'])

print("Tercer experimento")
for reg in df_4.itertuples(): 
    print(' '+reg.Ciudad)

Primer experimento
   Londres 22
   Madrid 36
   Barcelona 20
   Sevilla 26
   Cádiz 30
   Lima 38
Segundo experimento
 Londres
 Madrid
 Barcelona
 Sevilla
 Cádiz
 Lima
Tercer experimento
 Londres
 Madrid
 Barcelona
 Sevilla
 Cádiz
 Lima